.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  #weatherData {
    text-align: left;
  }
  
  #weatherData .city-name {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-weight: bold;
    text-align: center;
  }
  
  #weatherData .weather-info {
    margin-top: 10px;
  }
  
  #weatherData .weather-info .item {
    margin-bottom: 5px;
  }
  