html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.wrapper {
    margin: 2vw;
    color: #fff;
    text-align: left;
    vertical-align: middle;
}

.header-top {
    background-color: purple;
    height: 10vh;
    margin-bottom: 2vh;
}

.menu {
    height: 6vh;
    background-color: blueviolet;
    margin: 0 auto;
}

.main-div {
    background-color: rebeccapurple;
    height: 100%;
    margin-left: 22vw;
    margin-top: 2vh;
    padding-bottom: 2.5vw;
}

.aside-1 {
    float: left;
    width: 20vw;
    height: 40vw;
    background-color: blue;
    margin-top: 2vh;
}

.aside-2 {
    float: left;
    width: 20vw;
    margin-top: 45vw;
    margin-left: -20vw;
    height: 40vw;
    background-color: blue;
}


.s-1, .s-2 {
    height: 40vh;
    background-color: brown;
    margin: 5vw;
}