body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .inputbar {
    display: flex;
    justify-content: space-between;
  }
  input[type="text"] {
    width: 75%;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    width: 20%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }